@use "variables/colors";

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(colors.$black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: colors.$white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
