@use 'sass:color';
@use 'variables/colors';

.the-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  a, a:visited {
    color: colors.$white;
    text-decoration: none;
  }

  a:hover, a:active {
    color: color.scale(colors.$accent, $lightness: 85%);
  }
}
